# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
bower_components/
jspm_packages/

# .env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/

# Vue.js build output
# /dist/
# .cache/

# TypeScript
*.tsbuildinfo

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory
coverage/


# Production environment files
.env.production

# Miscellaneous
*.tgz
*.bak
*.swp
